
<!DOCTYPE html>
<html>

<!-- Head -->
<head>

	<title>登录表单</title>

	<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->
		<script type="text/javascript" src="__THEME__/js/jquery.js"></script>
	<!-- Style --> <link rel="stylesheet" href="__THEME__/css/style.css" type="text/css" media="all">



</head>
<!-- //Head -->

<!-- Body -->
<body>

	<h1>登录表单</h1>

	<div class="container w3layouts agileits">

		<div class="login w3layouts agileits">
			<h2 style="text-align:center;">登 录</h2>
			<form action="{:U('Index/index')}" method="post">
				<input type="text" id="mobile_account" Name="user" placeholder="用户名" required="">
				<input type="password" Name="password" placeholder="密码" required="">
				<input type="text" style="width:45%; float:left; margin-right:10%;" Name="yzm" placeholder="手机验证码" required="">
				<input type="button" style="width:15%;height:38px;cursor:pointer;float:left;border:none;background-color:green;text-align:center;line-height:38px;border-radius:5%;" value='获取验证码' class="yz-input" onclick="request()" id="yzm" autocomplete="off">
			<ul class="tick w3layouts agileits">
				<li>
					<input type="checkbox" id="brand1" value="">
					<label for="brand1"><span></span>记住我</label>
				</li>
			</ul>
			<div class="send-button w3layouts agileits" style="text-align:center;">
				
					<input type="submit" value="登 录">
				</form>
			</div>
			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>
</body>
<!-- //Body -->

</html>
<script>
var times;
	function request(){
		
		times = setInterval(yztime,1000);
		//alert(url);
		var url='__URL__/yzm';
			var tel=$('#mobile_account').val();
			var type=3;
		$.post(url,{tel:tel,type:type},function(msg){
			alert('验证码已发送');
		});
	}

	

	var i = 60;
	function yztime(){
		var s = i-1;
		i = s;
		$("#yzm").val(i+'秒后再获取');
		$("#yzm").attr({"disabled":"disabled"});
		if(i<=0){
			 clearInterval(times);
			 $("#yzm").val('获取验证码');
			 $("#yzm").removeAttr("disabled");
			 i = 60;
		}
	}
	

</script>