
<!DOCTYPE html>
<html>
    <head>
        <title>取消&延期比赛</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="__THEME__/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="__THEME__/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

        <!-- Bootstrap Admin Theme -->
        <link href="__THEME__/css/bootstrap-admin-theme.css" rel="stylesheet" media="screen">

        <!-- Datatables -->
        <link href="__THEME__/css/DT_bootstrap.css" rel="stylesheet" media="screen">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
           <script type="text/javascript" src="js/html5shiv.js"></script>
           <script type="text/javascript" src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="bootstrap-admin-with-small-navbar">
        <div class="container">
            <!-- left, vertical navbar & content -->
            <div class="row">
                <!-- left, vertical navbar -->
                <include file="Public/nav" />

            <!-- left, vertical navbar & content -->
            <div class="row">
                <!-- left, vertical navbar -->
            <include file="Public/left" /> 
			 
			<block name="container"></block>


                <!-- content -->
                <div class="col-md-10">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="text-muted bootstrap-admin-box-title">取消&延期比赛</div>
                            </div>
							<br/>
						
                                <table class="table table-striped table-bordered" id="example" style="margin-top:10px;">
                                    <thead>
                                        <tr>
											<th>开场时间</th>
											<th>场次标识</th>
                                            <th><span style="margin-right:20px;">联赛</span></th>
                                            <th>主队</th>
                                            <th>客队</th>
											<th>状态</th>
											<th>是否开放</th>
											<th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
									<volist name='res' id='re'>
                                        <tr class="odd gradeX">
											<input class="qx" id="{$re.id}" type='hidden' name='show_ids[]' value=''>
                                            <td style="line-height:250%;">{$re.time|date='Y-m-d H:i:s',###}</td>
											<td style="line-height:250%;">{$re.id}</td>
                                            <td style="line-height:250%;">{$re.area}</td>
                                            <td style="line-height:250%;"><img src='{$re.img_first}' alt='' style="width:20px;height:20px;margin-right:10px;"><b style="color:red;">{$re.team_first}</b></td>
											<td style="line-height:250%;"><img src='{$re.img_second}' alt='' style="width:20px;height:20px;margin-right:10px;"><b style="color:green;">{$re.team_second}</b></td>
                                            <td style="line-height:250%;">
											<if condition="$re['state'] eq 0 ">
												<b>未开始</b>
											<elseif condition="$re['state'] eq 1 "/>
												<b style="color:green;">进行中
											<elseif condition="$re['state'] eq 2 "/> 
												<b style="color:green;">半场已结束																							<elseif condition="$re['state'] eq 3 "/> 												<b style="color:green;">半场已结算																						<elseif condition="$re['state'] eq 4 "/> 												<b style="color:green;">已结束 
											<else /> 
												<b style="color:red;">全场已结算</b>
											</if></td>
											<td style="line-height:250%;">
											<if condition="$re['is_show'] eq 2 ">
												<b style="color:green;">腰斩</b>
											<elseif condition="$re['is_show'] eq 3 "/>
												<b style="color:red;">延期</b>
											<elseif condition="$re['is_show'] eq 4 "/> 
												<b style="color:green;">中断</b>
											<elseif condition="$re['is_show'] eq 6 " /> 
												<b>取消</b>											<else />
											</if>
											</td>
											<td style="line-height:250%;">
											<if condition="$re['undo_state'] eq 0 ">
													<a class="btn btn-sm btn-danger" href="{:U('Market/undo_action',array('game_id'=>$re['id']))}">取消比赛</a>
													<else />
													无
												</if>
											</td>
                                        </tr>
									</volist>	
                                    </tbody>
									<input type='hidden' name='start_time' value='{$start_time}'>
									<input type='hidden' name='end_time' value='{$end_time}'>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <hr>
                <footer role="contentinfo">
                </footer>
            </div>
        </div>

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="__THEME__/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="__THEME__/js/twitter-bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="__THEME__/vendors/datatables/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="__THEME__/js/DT_bootstrap.js"></script>
    </body>
</html><script></script>